// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'mixins';

.eventlist {
  &-heading {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

    @include xsmall {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 1rem;
    gap: 1rem;
    justify-items: center;
    margin: 1rem auto;
  }
}

.event {
  width: 100%;
  max-width: 500px;
  padding: 1.5rem;
  border: 1px solid #aaa;

  &-info {
    margin-bottom: 2rem;
    border-bottom: 1px solid #aaa;

    &-title {
      margin: 0;
      font-size: 2rem;
    }

    &-description {
      margin: 0 0 1.5rem;
    }
  }

  &-add-info {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;

    &-heading {
      margin-bottom: 2px;
      text-transform: uppercase;
    }
  }

  &-button-container {
    display: flex;
    justify-content: space-between;
    text-align: center;

    .upvote-button {
      border: 1px solid $atb-teal;
      background-color: $atb-teal;
    }

    .upvote-button:hover,
    .upvote-button:focus {
      border: 1px solid darken($atb-teal, 10%);
      background-color: darken($atb-teal, 10%);
    }

    .upvote-button.upvoted {
      border: 1px solid darken($atb-teal, 15%);
      background-color: darken($atb-teal, 15%);
    }

    .modify > button {
      margin: 0 3px;
    }
  }
}

.event-modal {
  &-form {
    padding: 0 15px;
  }

  &-footer {
    display: flex;
    justify-content: center !important;
  }
}

.form-input-required {
  margin: 0 3px;
  color: $error;
}
