@import 'mixins';

.generic-form {
  margin: 0 auto;
  @include xsmall {
    margin: 3rem 0;
  }
  @include tablet {
    max-width: 50%;
  }
}

.modal {
  &-form {
    padding: 0 15px;
  }

  &-footer {
    display: flex;
    justify-content: center !important;
  }
}
