@import 'mixins';

.nav-link-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link-divider {
  display: none;
  @include tablet {
    display: inline;
    margin: 0 1rem;
  }
}
