@import 'mixins';

.nav-link-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link-divider {
  display: none;
  @include tablet {
    display: inline;
    margin: 0 1rem;
  }
}

.nav-logout-button {
  color: rgba(0, 0, 0, 0.5);
  background: none;
  border: none;

  &:hover {
    color: rgba(0, 0, 0, 0.7);
  }
}
